

.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90vh;
}

@media only screen and (max-width: 960px) {
    .home-container {
        height: 100%;
        
       }
  
       
 }