
#root{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 95vh;
}

.logo-signIn {
    height: 200px;
    width: 200px;
}

.email-label , .pass-label, .username-label {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom:  10px;
   
}


.email, .password, .username-input {
    margin-bottom: 30px;
    height: 35px;
    width: 70%;
    background: rgba(255, 255, 255, .5);
    outline: 0px;
    border: 0px;
    border-radius: 20px;
    padding-left: 15px;
    font-size: 23px;
    caret-color:rgba(255, 255, 255, .5) ;
    transition: background-color 1s ease;
    position: relative;
}

.incorrect  {
  background: rgba(243, 134, 134, 0.5);
  border: 1px;
  border-width: 1px;
  border-color: red;
}

.correct {
  background: rgba(122, 255, 117, 0.5);
  border: 1px;
  border-width: 1px;
  border-color: red;
}

.text {
  position: absolute;
  top: 0;
}

.button{
    width: 20%;
    height: 40px;
    background: #124be7;
    border: 0px;
    border-radius: 10px;
    outline: 0px;
    color: white;
    font-size: 20px;
    margin-top: 30px;
}

.button-signIn{
  width: 20%;
  height: 40px;
  background: #124be7;
  border: 0px;
  border-radius: 10px;
  outline: 0px;
  color: white;
  font-size: 20px;
 
}

.signIn-container {
    width: 30vw;
    min-height: 500px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .signIn-container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
  }

  .signUp {
      margin-top: 30px;
  }

  .title {
      margin-bottom: 30px;
      font-size: 30px;
  }

  .title-signin {
    margin-bottom: 30px;
      font-size: 30px;
      margin-top: 50px;
  }

  .alert {
    color: #842029;
    background-color: #f7a8af;
    border-color: #f5c2c7;
    border-radius: .25rem;
    border: 1px solid transparent;
    padding: 0.5rem 0.5rem;
    margin-top: 30px;
    transition: opacity 0.5s;
    opacity: 1;
   
  }

  .alert-hide {
    opacity: 0;
    color: #842029;
    background-color: #f7a8af;
    border-color: #f5c2c7;
    border-radius: .25rem;
    border: 1px solid transparent;
    padding: 0.5rem 0.5rem;
    margin-top: 30px;
    
  }

  .emailMsg {
    position: absolute;
    top: 150px;
 
    text-align : center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .userMsg {
    position: absolute;
    top: 250px;
    text-align : center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .passMsg {
    position: absolute;
    top: 350px;

    text-align : center;
    margin-right: 10px;
    margin-left: 10px;
 
  }

  .correctMsg {
    color: rgb(101, 252, 0);
  }

  .incorrectMsg {
    color:rgb(231, 209, 7)
  }

  /* media queries */

  @media only screen and (max-width: 1330px) {
    .signIn-container {
        width: 35vw;
    }
  }

  @media only screen and (max-width: 1110px) {
    .signIn-container {
        width: 40vw;
    }
  }

  @media only screen and (max-width: 940px) {
    .signIn-container {
        width: 45vw;
    }
  }

  @media only screen and (max-width: 820px) {
    .signIn-container {
        width: 45vw;
    }
  }

  @media only screen and (max-width: 750px) {
    .signIn-container {
        width: 45vw;
    }
    .button{
        width: 30%
    }
  }

  @media only screen and (max-width: 686px) {
    .signIn-container {
        width: 80vw;
    }
    .button{
        width: 20%
    }
  }

  @media only screen and (max-width: 454px) {
    .signIn-container {
        width: 90vw;
    }
  }

  @media only screen and (max-width: 388px) {
    .signIn-container {
        width: 98vw;
    }
    .button{
        width: 25%
    }
  }
